.contents
  display flex
  justify-content center
  align-items center
  height 100%

.slider
  padding-top 32px

.form
  background white
  display flex
  flex-direction column
  width 90%
  margin auto
  .actions
    width 100%
    display flex
    justify-content  flex-end
    padding 32px
    >div
      margin-left 32px
  fieldset
    padding-left 32px
    padding-right  32px

