.value
  float right
.container
  display flex
  >div
    flex 1 1 auto;
.card
  margin 32px
  padding 8px
  background white
  display flex
  flex-direction column

.title
  text-align center
  font-weight bold