@import "../../stylus/constants.styl"
@import "../../stylus/basic_buttons.styl"

$body-bg = white
// Font Sizes
$mf-font-size = 1rem
$mf-active-font-size = ($mf-font-size * 0.8)
$mf-active-top = -($mf-font-size)
// Margin & Paddings
$mf-gap = ($mf-font-size * 1.5)
$mf-spacer = ($mf-font-size / 8)
$mf-fieldset-margin = 0 0 ($mf-gap * 2)
$mf-checkbox-gap = ($mf-font-size * 2)
$mf-checkbox-top = 0
$mf-radio-margin = ($mf-font-size / -4)
// Colors
$mf-input-color = #333333
$mf-border-color = #c6c6c6
$mf-label-color = lighten($mf-border-color, 10%)
$mf-focus-color = $ocean
$mf-active-color = darken($mf-focus-color, 10%)

$mf-error-color = #d9534f
// Animation
$mf-transition-speed = 0.28s

.baseInput
  display block
  background none
  padding $mf-spacer $mf-spacer ($mf-spacer / 2)
  font-size $mf-font-size
  border-width 0
  border-color transparent
  line-height 1.9
  width 100%
  color transparent
  transition all $mf-transition-speed ease
  box-shadow none

input
  &:focus
  &:valid
    ~ .controlLabel
      text-transform uppercase
input.inputWithContents
  &:invalid
    ~ .controlLabel
      text-transform uppercase

input
  &:focus
  &:valid
    color: $mf-input-color
    ~ .controlLabel
      font-size $mf-active-font-size
      color $mf-active-color
      top $mf-active-top
      left 0
    ~ .bar
      &::before
        width 100%
        left 0

input.inputWithContents
  &:invalid
    color:$mf-label-color
    ~ .controlLabel
      font-size $mf-active-font-size
      top $mf-active-top
      left 0
input
  &:valid
    font-weight bolder
input
  &:focus
    outline none
    ~ .controlLabel
      color $mf-focus-color

input::after,
input::before
  box-sizing border-box

.login_button
 @extend .button
 @extend .button-border


.input
  @extend .baseInput

.group
  position relative;
  margin-top ($mf-gap * 1.5);
  margin-bottom ($mf-gap * 1.5);
  .input
    height ($mf-font-size * 2.1)
  .controlLabel
    text-transform capitalize;
    position absolute
    top ($mf-font-size / 4)
    pointer-events none
    padding-left $mf-spacer
    z-index 1
    color $mf-label-color
    font-size $mf-font-size
    font-weight normal
    transition all $mf-transition-speed ease
  .bar
    position relative
    border-bottom ($mf-font-size / 16) solid $mf-border-color
    display block
    &::before
      content ''
      height ($mf-font-size / 8)
      width 0
      left 50%
      bottom ($mf-font-size / -16)
      position absolute
      background $mf-focus-color
      transition left $mf-transition-speed ease, width $mf-transition-speed ease
      z-index 2