.app
  height 100%
  header
    position fixed
    top 0
    left 0
    width 100%
    z-index 100
.main
  height 100%
  width 100%
  display flex
  padding-top 64px
  menu
    background white
    min-width 256px
  section
    flex 1 1 auto
