@import "constants.styl"

.button
  display flex
  overflow hidden
  margin 10px
  padding 12px 12px
  cursor pointer
  user-select none
  transition all 60ms ease-in-out
  text-align center
  white-space nowrap
  text-decoration none !important
  text-transform capitalize
  color #fff
  border 0 none
  border-radius 4px
  font-size 14px
  font-weight 500
  line-height 1.3
  appearance none
  justify-content center
  align-items center
  flex 0 0 160px
  &:hover
    transition all 60ms ease
    opacity .85
  &:active
    transition all 60ms ease
    transform scale(0.97)
    opacity .75

.button-dark
  color $snow
  background $dark
.button-green
  color $snow
  background $grass
.button-blue
  color $snow
  background $ocean
.button-salmon
  color $snow
  background $salmon
.button-sun
  color #f15c5c
  background $sun
.button-alge
  color #f4f7f7
  background $alge
.button-flower
  color #FE8CDF
  background $flower
.button-border
  color $ocean
  border 2px solid $ocean
  background transparent
  &:hover, &.-active
    color $snow
    border-color $ocean
    background $ocean