@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Source+Sans+Pro|Ubuntu')

$fa-font-path = "./vendors/font-awesome-4.6.3/fonts"
@import "./vendors/font-awesome-4.6.3/stylus/index.styl"

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body
  font-size 16px
  line-height  1

body, :global(div#root)
  width: 100%

html
  background-color #f2f2f2

html, body
  width 100%
  overflow-x hidden
  margin 0
  padding 0
html, body, :global(div#root)
  height 100%

html
  *
    font-family "Source Sans Pro", sans-serif
    box-sizing border-box


h1, h2, h3, h4
  font-family "Ubuntu", sans-serif
  margin 0
  padding 0
  font-weight bold