@import "../../stylus/vendors/font-awesome-4.6.3/stylus/mixins.styl"
@import "../../stylus/vendors/font-awesome-4.6.3/stylus/variables.styl"

//TODO: REMOVE font awesome
$fa-font-path = "../../stylus/vendors/font-awesome-4.6.3/fonts"
@import "../../stylus/vendors/font-awesome-4.6.3/stylus/index.styl"


@import "../../stylus/constants.styl"
@import "../../stylus/global_classes.styl"

.row
  display flex
  color $dark
  min-height 64px
  ul
    list-style none


.left_column
  width 20%
  align-self center
  text-align center
  i
    font-size 32px
    color royalblue
    span
      position relative
      background-color #FF9800
      color #fff
      font-size 12px
      top -40px
      left 20px
      padding 2px
      font-weight bold
      min-width 18px
      min-height 18px
      display block
      width 22px
      border-radius 2px
      border 2px white solid
      box-shadow $shadow-2
      font-family "Ubuntu", sans-serif


.middle_column
  width 50%
  h4
    font-size 16px
  ul
    font-size 14px
    padding-top 8px
    color darken(#dadee2, 30%)
    strong
      color royalblue
      font-weight normal


.right_column
  width 30%
  font-size 14px
.auto_icon
  fa(car)

.credit_icon
  fa(credit-card)

.account_state
  color darken(#dadee2, 30%)
  text-align right
  padding-top 16px
  i
    fa(clock-o)
    margin-right 8px

.right_column,
.middle_column
  border-bottom 1px #dadee2 solid

.right_column,
.middle_column,
.left_column
  padding-top 16px
  padding-bottom 16px

.right_column,
.left_column
  padding-right 16px
  padding-left 16px

.account_open
  color: limegreen