@import "../../stylus/constants.styl"


.big_app_bar_no_fixed
  width 100%
  position absolute
  top 0
  left 0
  background-color white
  height $appBarBigHeaderHeight320
  z-index 400
  box-sizing border-box
  &::after
    content: '';
    display: block;
    background-repeat: repeat-y;
    background-size: 100% auto;
    background: linear-gradient(to right,#00e3ad 0,#f8e71c 100%);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
  .app_bar_section
    height ($basePxSize*2)
    position fixed
    top 0
    border-bottom 1px solid
    width 100%
    background white
    z-index 600
    transition background .2s,box-shadow .3s,height .3s
  .app_bar_section_shadow
    box-shadow 0 2px 4px 0 rgba(0,0,0,.14)
  .header_content_section
    box-sizing border-box;
    height s('calc(100% -  %s)', $basePxSize*2)
    max-width 1280px
    margin 0 auto
    margin-top ($basePxSize*2)
    //padding-left 4px
    //padding-right 4px

    //padding-left ($basePxSize*2)
    //padding-right ($basePxSize*2)
    width 100%
    //~:global(#right_side_nav)
    //position absolute
    //top $appBarBigHeaderHeight
  ~:global(#board)
    box-sizing border-box
    padding-top $appBarBigHeaderHeight320
