@import "../../stylus/constants.styl"

.board
  height 100%
  display block
  width 100%
  box-sizing border-box
  //flex-flow row wrap
  @media (min-width 1024px)
    padding-right $sideNavWidth

.phantom_nav
  flex: 0 0 $sideNavWidth
  height 100%
  display none
  @media (min-width 1024px)
    display block

.contents
  flex: 0 0 s('calc(100% - %s)', $sideNavWidth)
  height 100%

.tsn_board
  height 100%
  background-color white