@import "../../stylus/constants.styl"
$queryLoaderHeight = 2px;

.query_background{
  background lighten($goodColor, 70%)
  width 100%
  height $queryLoaderHeight
}


.query_progress{
  position :relative
  top -2px
  background $excellentColor
  width 100%
  height $queryLoaderHeight
  transition: all .2s linear
  animation: query .8s infinite cubic-bezier(0.4, 0, 1, 1)
}


@keyframes query
  0%
    opacity: 1
    transform: translateX(35%) scale(.3,1)
  100%
    opacity 0.2
    transform: translateX(-50%) scale(0,1)

