@import "../../stylus/constants.styl"

.right_side_nav
  display none
  position fixed
  width $sideNavWidth
  height calc(100% - 64px)
  background-color white
  right 0
  top 64px
  z-index 200
  border-left 1px solid
  border-color rgba(0,0,0,0.14)
  @media (min-width 1024px)
    display block
